@charset "UTF-8";
/* CSS Document */
title {
	font-family: Helvetica;
	font-size: 36px;
	text-color: grey;
}

body {
	back-ground-color: #B4B4B4;
	text-align: center;
}

nav .home {
	font-size: 20px;
	
}


	

h1{
	
}

h2{
	
}

.contact {
	
}

.dogs{
	
}

p{
	text-align: center;
	font-size: 30px;
	
	
}

.footer {
	text-align: center;
	background-color: #086482; 
	margin: 20px;
	padding: 20px;
	
	 
	
}